#logomaytheforce{
    width: 270px;
    margin-left:130px;
}

#favorites {
    margin-right: 40px;
}

nav{
    background-color:#1A2225;
}

.dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px; /* set the maximum width of the favorite name */
  }